<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" id="deleteUserForm" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger mt-3 ms-3" type="button" onclick="confirmation(document.getElementById('deleteUserForm'), '¿Está seguro de borrar el usuario?')">Borrar usuario</button>
</form>

{% block js %}
<script>
    function confirmation(form, text) {
        swal({
            title: "Confirmación",
            text: text,
            icon: "info",
            buttons: {
                cancel: {
                    text: "No",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
        }).then((value) => {
            if (value) {
                /*swal("Poof! Your imaginary file has been deleted!", {
                    icon: "success",
                });*/
                form.submit();
            } else {
                /*swal("Your imaginary file is safe!");*/
                return false;
            }
        });
    }

</script>
{% endblock %}